@page "/game"
@inject GameStateService GameStateService

@rendermode InteractiveServer

<div class="trpg-layout-page">
  <h2 class="trpg-title-main">Game</h2>

  @if (GameStateService.CurrentSave is null)
  {
    <p>No game loaded. Go to main menu.</p>
  }
  else
  {
    <h3>Welcome back, @GameStateService.CurrentSave.PlayerCharacter.Name</h3>
  }

</div>
