@page "/"
@using TextRpg.Application.Services
@using TextRpg.Blazor.Stores
@inject GameSaveStore GameSaveStore
@inject ISaveService SaveService
@inject NavigationManager Navigation

@rendermode InteractiveServer

<PageTitle>Text RPG</PageTitle>

<div class="trpg-layout-page">
  <h2 class="trpg-title-main">Text RPG</h2>

  <div class="flex flex-col space-y-4 w-48">
    <NavLink
      href="/charactercreation"
      class="trpg-btn">
      New Game
    </NavLink>

    <label class="trpg-btn text-center cursor-pointer">
      Load Save
      <InputFile OnChange="OnFileSelected" accept=".json" style="display:none" />
    </label>

    <button
      class="trpg-btn-danger">
      Exit
    </button>
  </div>
</div>

@code {

  private async Task OnFileSelected(InputFileChangeEventArgs e)
  {
    var file = e.File;

    var fileName = Path.GetFileNameWithoutExtension(file.Name);

    var save = await SaveService.LoadGameAsync(fileName, CancellationToken.None);
    if (save != null)
    {
      GameSaveStore.LoadGame(save);
      Navigation.NavigateTo("/game");
    }
  }

}
